body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
	height: 100px;
	background-color: #0000ff;
	color: white;

}

.header h1 {
	margin: 0;
	padding: 30px 0 0 0;
}

.racetrack {
	height: 220px;
}

.lane {
	height: 110px;
	background-color: #272222;
  position: static;
}

.lane-divider {
	border-bottom: 2px dashed yellow;
}

.typing-container {
	height: 220px;
}

.sentence {

}

.text-field {

}

.h1-style {
	font: 30px bold Arial, sans-serif;
	line-height: 1.2em;
	margin: 20px 0 15px 0;
}

#type-here {
	width: 80%;
	height: 40px;
	font: 18px bold Arial, sans-serif;
	border-radius: 4px;
	box-shadow: 0;
}

@keyframes fadeinout {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}

.fade-in {
	animation: fadeinout 2s linear;
	opacity: 0;
}

.pig-image {
  width: 50px;
  height: 70px;
  position: absolute;
}

.marvis-image {
  width: 50px;
  height: 70px;
  position: absolute;
}

.modal-win {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-win {
    background-color: green;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-win {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-win:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-lose {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-lose {
    background-color: red;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-lose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-lose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
